{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true,
    "commonjs": true
  },
  "globals": {
    "JSX": true
  },
  "extends": ["plugin:react/recommended", "plugin:react-hooks/recommended"],
  "rules": {
    "react/prop-types": "off",
    "no-param-reassign": "off",
    "import/prefer-default-export": "off",
    "import/order": [
      "error",
      {
        "groups": ["type", "builtin", "external", "object", "internal"],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "newlines-between": "always"
      }
    ],
    "@typescript-eslint/no-var-requires": "off",
    "react/no-unknown-property": "off",
    "no-duplicate-imports": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/consistent-type-imports": "error",
    "no-nested-ternary": "off",
    "@typescript-eslint/no-empty-interface": "off"
  }
}
