@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@700&family=Montserrat&family=Noto+Sans+KR:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

#root {
  width: 100vw;
}

.wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.no-display-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-display-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.loader-default {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-icon-default {
  display: flex;
  justify-content: center;
  align-items: center;
}