{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:@typescript-eslint/recommended",
    "naver",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "no-unused-vars": "off",
    "no-console": "off",
    "no-param-reassign": "off",
    "import/prefer-default-export": "off",
    "import/order": [
      "error",
      {
        "groups": ["type", "builtin", "external", "object", "internal"],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "newlines-between": "always"
      }
    ],
    "@typescript-eslint/no-var-requires": "off",
    "no-duplicate-imports": "off"
  }
}